<div class="col">

  <div class="row">
    <h1>User Information:</h1>
  </div>

  <!-- Pseudo -->
  <div class="row">
    <p>
      Identifiant: {{this.user ? this.user.identifiant : ""}}
    </p>
  </div>

  <!-- Last connection -->
  <div class="row" *ngIf="user && currentUsername == this.user.identifiant" >
    <p>
      Last connection: {{this.lastLogin}}
    </p>
  </div>

  <!-- Nom -->
  <div class="row">
    <p>
      Nom: {{this.user ? this.user.nom : ""}}
    </p>
  </div>

  <!-- Prenom -->
  <div class="row">
    <p>
      Prenom: {{this.user ? this.user.prenom : ""}}
    </p>
  </div>

  <div class="row">
    <p>
      Date de naissance: {{this.user ? this.user.date_naissance : ""}}
    </p>
  </div>

  <!-- Avatar -->
  <div class="row">

    <p>avatar: </p>

    <!-- Avatar Image -->
    <div *ngIf="status && !status.avatar">

      <img
      [src]="user && this.user.avatar ? this.user.avatar : 'https://i.stack.imgur.com/l60Hf.png'"
      alt="Photo de profile"
      style="height: 10vw; width: 10vw; object-fit: cover; overflow: hidden;"
      class="img-thumbnail">

    </div>

    <!-- Avatar edit form -->
    <form [formGroup]="formAvatar">

      <!-- Input form -->
      <input *ngIf="status && status.avatar" formControlName="url" [value]="this.user.avatar" />

      <!-- Button update -->
      <button class="btn ml-3" style="background-color: #2C6DA1;" *ngIf="user && currentUsername == user.identifiant" (click)="updateAvatar(formAvatar.value)">
        <fa-icon [icon]="faEdit" size="1x"></fa-icon>
      </button>
    </form>

  </div>

  <!-- Humeur -->
  <div class="row">

    <p>Humeur: </p>

    <!-- Display the humeur -->
    <p *ngIf="status && !status.humeur">
      {{[this.user.humeur]}}
    </p>

    <!-- Humeur edit form -->
    <form [formGroup]="formHumeur">

      <!-- Input form -->
      <input *ngIf="status && status.humeur" formControlName="humeur" [value]="this.user.humeur" />

      <!-- Button update -->
      <button type="button" class="btn ml-3" style="background-color: #2C6DA1;" *ngIf="user && currentUsername == user.identifiant" (click)="updateHumeur(formHumeur.value)">
        <fa-icon [icon]="faEdit" size="1x"></fa-icon>
      </button>
    </form>

  </div>

  <!-- Etat de connection -->
  <div class="row">
    <p>
      Connected: <fa-icon [icon]="faCircle" size="1x" [ngStyle]="{ 'color': (user && user.statut_connexion ? 'green' : 'tomato') }"></fa-icon>
    </p>
  </div>

  <!-- Derniers challenges -->
  <div class="row">
    <h1>Last challenges:</h1>
  </div>

  <p *ngIf="defis && defis.length <= 0">
    Empty challenges history
  </p>

  <!-- Challenges Row -->
  <div class="row">

    <!-- For each quizz in the defi -->
    <div *ngFor="let defi of defis" class="card text-white mb-3 mr-3" style="max-width: 18rem; background-color: #2C6DA1;">

      <!-- Header -->
      <div class="card-header">
       Défi du {{ defi.date_defi | date }}
      </div>

      <!-- Body -->
      <div class="card-body">
        <p class="card-text">
          Winner: {{ defi.id_user_gagnant }}
          <br>
          Looser: {{ defi.id_user_perdant }}
        </p>
      </div>

    </div>

  </div>

  <!-- Last games -->
  <div class="row">
    <h1>Last games:</h1>
  </div>

  <!-- Empty History -->
  <p *ngIf="history && history.length <= 0">
    Empty history
  </p>

  <!-- History -->
  <div class="row">

    <!-- For each quizz in the history -->
    <div *ngFor="let quizz of history" class="card text-white mb-3 mr-3" style="max-width: 18rem; background-color: #2C6DA1;">

      <!-- Header -->
      <div class="card-header">
       Score de {{ quizz.score }} avec {{ quizz.nb_reponses_corr }} justes
      </div>

      <!-- Body -->
      <div class="card-body">
        <p class="card-text">
          Duration: {{ quizz.temps }} s
          <br>
          Difficulty: {{ quizz.niveau_jeu }}
          <br>
          Date: {{ quizz.date_jeu | date }}
        </p>
      </div>

    </div>
  </div>

</div>
