<div class="col">

  <div class="row">
    <h1>User Information:</h1>
  </div>

  <!-- Pseudo -->
  <div class="row">
    <p>
      Identifiant: {{this.user.identifiant}}
    </p>
  </div>

  <!-- Last connection -->
  <div class="row" *ngIf="currentUsername == this.user.identifiant" >
    <p>
      Last connection: {{this.lastLogin}}
    </p>
  </div>

  <!-- Nom -->
  <div class="row">
    <p>
      Nom: {{this.user.nom}}
    </p>
  </div>

  <!-- Prenom -->
  <div class="row">
    <p>
      Prenom: {{this.user.prenom}}
    </p>
  </div>

  <div class="row">
    <p>
      Date de naissance: {{this.user.date_naissance}}
    </p>
  </div>

  <!-- Avatar -->
  <div class="row">

    <p>avatar: </p>

    <div *ngIf="!status.avatar">
      <!-- {{this.user.avatar}} -->

      <img
      [src]="this.user.avatar ? this.user.avatar : 'https://i.stack.imgur.com/l60Hf.png'"
      alt="Photo de profile"
      style="height: 10vw; width: 10vw; object-fit: cover; overflow: hidden;"
      class="img-thumbnail">

    </div>

    <form [formGroup]="formAvatar">

      <input *ngIf="status.avatar" formControlName="url" [value]="this.user.avatar" />

      <button class="btn ml-3" style="background-color: #2C6DA1;" *ngIf="currentUsername == user.identifiant" (click)="updateAvatar(formAvatar.value)">
        <fa-icon [icon]="faEdit" size="1x"></fa-icon>
      </button>
    </form>

  </div>

  <!-- Humeur -->
  <div class="row">

    <p>Humeur: </p>

    <p *ngIf="!status.humeur">
      {{[this.user.humeur]}}
    </p>

    <form [formGroup]="formHumeur">

      <input *ngIf="status.humeur" formControlName="humeur" [value]="this.user.humeur" />

      <button type="button" class="btn ml-3" style="background-color: #2C6DA1;" *ngIf="currentUsername == user.identifiant" (click)="updateHumeur(formAvatar.value)">
        <fa-icon [icon]="faEdit" size="1x"></fa-icon>
      </button>
    </form>

  </div>

  <!-- Etat de connection -->
  <div class="row">
    <p>
      Connected: <fa-icon [icon]="faCircle" size="1x" [ngStyle]="{ 'color': (user.statut_connexion ? 'green' : 'tomato') }"></fa-icon>
    </p>
  </div>

  <!-- Derniers challenges -->
  <div class="row">
    <h1>Last challenges:</h1>
  </div>

  <p *ngIf="defis.length <= 0">
    Empty challenges history
  </p>

  <div class="row" *ngFor="let defi of defis" >
    <p>
      Winner: {{ defi.id_user_gagnant }}
    </p>
    <p>
      Looser: {{ defi.id_user_perdant }}
    </p>
    <p>
      Date: {{ defi.date_defi | date }}
    </p>
  </div>

  <!-- Derniers games -->
  <div class="row">
    <h1>Last games:</h1>
  </div>

  <p *ngIf="history.length <= 0">
    Empty history
  </p>

  <div class="row">
    <div *ngFor="let quizz of history" class="card text-white mb-3 mr-3" style="max-width: 18rem; background-color: #2C6DA1;">
      <div class="card-header">
       Score de {{ quizz.score }} avec {{ quizz.nb_reponses_corr }} justes
      </div>
      <div class="card-body">
        <p class="card-text">
          Duration: {{ quizz.temps }} s
          <br>
          Difficulty: {{ quizz.niveau_jeu }}
          <br>
          Date: {{ quizz.date_jeu | date }}
        </p>
      </div>
    </div>
  </div>

</div>
