<div class="d-flex bgDark" id="wrapper" [ngClass]="status ? 'toggled' : ''">

  <!-- Sidebar -->
  <div class=" border-right" id="sidebar-wrapper" *ngIf="loggedIn" >

    <p>Feed</p>

    <div class="list-group list-group-flush">
      <a routerLink="/" class="list-group-item list-group-item-action">Overview</a>
      <a routerLink="/" class="list-group-item list-group-item-action">History</a>
      <a routerLink="/" class="list-group-item list-group-item-action">Settings</a>
    </div>

    <p routerLink="/">Users</p>

    <div class="list-group list-group-flush">
      <div *ngFor="let user of lastUsers" class="list-group-item list-group-item-action">
        <img [src]="user.avatar ? user.avatar : defaultImg" class="rounded mr-3" [alt]="'Photo de profile de ' + user.identifiant">
        <a [routerLink]="'/users/profile/' + user.identifiant" routerLinkActive="active" class="mr-3">
          {{ user.identifiant | titlecase }}
        </a>
        <fa-icon [icon]="faCircle" size="1x" [ngStyle]="{ 'color': (user.statut_connexion ? 'green' : 'tomato') }"></fa-icon>
      </div>
    </div>

  </div>

  <div id="page-content-wrapper" [ngClass]="loggedIn ? 'loggedRouterOutlet' : ''">

    <!-- Body -->
    <router-outlet></router-outlet>

  </div>

</div>
