<div class="d-flex bgDark" id="wrapper" [ngClass]="status ? 'toggled' : ''">

  <!-- Sidebar -->
  <div class=" border-right" id="sidebar-wrapper" *ngIf="loggedIn" >

    <p>Feed</p>

    <!-- Routes -->
    <div class="list-group list-group-flush">

      <!-- Vue générale -->
      <a routerLink="/" class="list-group-item list-group-item-action">
        Overview
      </a>

      <!-- Profile de l'utilisateur -->
      <a [routerLink]="'/users/profile/' + this.currentUserId" class="list-group-item list-group-item-action">
        My Profile
      </a>

      <!-- Top Ten -->
      <a [routerLink]="'/users/top'" class="list-group-item list-group-item-action">
        Top Ten
      </a>
    </div>

    <p routerLink="/">Users</p>

    <!-- Liste des 10 derniers utilisateurs connecter -->
    <div class="list-group list-group-flush">

      <!-- For each user -->
      <div *ngFor="let user of lastUsers" class="list-group-item list-group-item-action">

        <!-- Avatar -->
        <img [src]="user.avatar ? user.avatar : defaultImg" class="rounded mr-3" [alt]="'Photo de profile de ' + user.identifiant">

        <!-- Link -->
        <a [routerLink]="'/users/profile/' + user.id" routerLinkActive="active" class="mr-3">
          {{ user.identifiant | titlecase }}
        </a>

        <!-- Status -->
        <fa-icon [icon]="faCircle" size="1x" [ngStyle]="{ 'color': (user.statut_connexion ? 'green' : 'tomato') }"></fa-icon>

      </div>
    </div>

  </div>

  <!-- Body container -->
  <div id="page-content-wrapper" [ngClass]="loggedIn ? 'loggedRouterOutlet' : ''">

    <!-- Body -->
    <router-outlet></router-outlet>

  </div>

</div>
