<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div class="form-group">
    <label for="identifiant">
      Identifiant
    </label>
    <input id="identifiant" type="text" formControlName="identifiant" class="form-control">
  </div>

  <div class="form-group">
    <label for="nom">
      Nom
    </label>
    <input id="nom" type="text" formControlName="nom" class="form-control">
  </div>

  <div class="form-group">
    <label for="prenom">
      Prenom
    </label>
    <input id="prenom" type="text" formControlName="prenom" class="form-control">
  </div>

  <div class="form-group">
    <label for="date_naissance">
      date_naissance
    </label>
    <input id="date_naissance" type="text" formControlName="date_naissance" class="form-control">
  </div>

  <div class="form-group">
    <label for="avatar">
      avatar
    </label>
    <input id="avatar" type="text" formControlName="avatar" class="form-control">
  </div>

  <div class="form-group">
    <label for="humeur">
      humeur
    </label>
    <input id="humeur" type="text" formControlName="humeur" class="form-control">
  </div>

  <button class="btn btn-primary" type="submit">Enregistrer</button>

</form>
