<div class="p-3">

  <!-- Empty Array -->
  <div *ngIf="defis.length <= 0" >
    No active defi!
  </div>

  <!-- Active Challenge -->
  <div class="row">
    <div *ngFor="let defi of defis" class="card text-white mb-3 mr-3" style="max-width: 18rem; background-color: #2C6DA1;">

      <!-- Header -->
      <div class="card-header">
        #{{defi._id}}
      </div>

      <!-- Body -->
      <div class="card-body">

        <p class="card-text">
          Défi de la part de {{defi.id_user_defiant}}
          <br>
          Score de l'adversaire: {{defi.score_user_defiant | number:'3.1-1'}}
        </p>

        <button mat-stroked-button color="primary" class="mr-3" (click)="refuse(defi)">Refuser</button>
        <button mat-stroked-button color="primary" (click)="accept(defi)">Accepter</button>

      </div>

    </div>
  </div>

</div>
